<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="app.css" />
		<title>Example 4</title>
	</head>
	<body>
		<div id="app">
			<nav class="nav-wrapper">
				<div class="logo">Vue</div>
				<div class="flex">
					<div v-for="(item, ind) in nav" :key="ind">
						<a
							:href="item.link"
							:class="{ 'link-active': item.toggle }"
							class="link-item"
							@click="toggleLink(item)"
						>
							{{item.title}}
						</a>
						<template v-if="item.subLinks && item.toggle">
							<div class="sublinks">
								<a
									v-for="(subLink, index) in item.subLinks"
									:key="index"
									:href="subLink.link"
									class="link-item"
								>
									{{subLink.title}}
								</a>
							</div>
						</template>
					</div>
				</div>
			</nav>

			<div class="body-text">Learning Vue on Scrimba!</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="index.js"></script>
	</body>
</html>
