#app {
	padding: 1em;
	background-color: rgba(122, 225, 190, 0.872);
}

.wrapper {
	max-width: 1000px;
	margin: 2em auto;
}

.pokemon {
	background-color: rgba(255, 255, 255, 0.934);
	padding: 1em;
	margin: 0.5em auto 2em;
	width: 80%;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.18);
	border-radius: 8px;
	text-align: center;
}

.pokemon ul {
	list-style: none;
	padding: 0;
	margin-top: -0.5em;
}
.pokemon ul li {
	margin-bottom: 0.25em;
}

@media (min-width: 550px) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
		justify-items: stretch;
		/* grid-template-rows: auto; */
	}
	.pokemon {
		width: unset;
		margin: unset;
		margin-bottom: 1em;
		padding: 0.5em;
	}
	.pokemon h1 {
		font-size: 1.5em;
	}
}
